<!doctype html>
<html lang="en" ng-app="moqodTest">
  <head>
    <meta charset="utf-8">
    <link rel="shortcut icon" href="http://www.kai-solutions.com/sites/all/themes/kai/favicon.ico" type="image/vnd.microsoft.icon" />
    <link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300,400,700" media="all" />
    <link rel="stylesheet" href="css/main.min.css" />
    <title>Moqod test</title>
  </head>
  <body>
    <div id="wrapper" ng-controller="moqodTestController">
      <div class="site-header">
        <img src="img/icn-kai-logo.svg" class="logo">
        <div class="partname pointer">
          Überbauung Nessleren
          <img src="img/btn-expand.svg" class="btn_expand">
        </div>
        <div class="profile">
          <div class="login pointer">
            Philipp Griesser
          </div>
          <div class="settings pointer">
            <img src="img/btn-settings.svg" class="btn-settings">
          </div>
        </div>
      </div>
      <div class="top-menu">
        <a class="active" href=".">DASHBOARD</a>
        <a href=".">TASKS</a>
        <a href=".">TICKETS</a>
        <a href=".">DOKUMENTE</a>
        <a href=".">COCKPIT</a>
      </div>
      <div class="filter">
        <input type="text" name="filter" ng-model="query" placeholder="Geben Sie Ihren Suchbegriff ein...">
        <img class="create-btn pointer" src="img/btn-create-item.svg">
      </div>
      <div class="content">
        <div id="aufgaben" class="column">
          <div class="column-header">
            AUFGABEN PROTOKOLLE
          </div>
          <div class="column-content">
            <div class="item" ng-repeat="item in aufgaben | filter:query">
              <div class="title pointer" ng-bind="item.title"></div>
              <div class="info">
                <span ng-bind="item.number"></span>
                <span class="triangle-right"></span>
                <span ng-bind="item.info" class="blue-first-letter"></span>
              </div>
            </div>
          </div>
        </div>
        <div id="bautickets" class="column">
          <div class="column-header">
            Bautickets
          </div>
          <div class="column-content">
            <div class="item"  ng-repeat="item in bautickets | filter:query">
              <div class="title pointer" ng-bind="item.title"></div>
              <div class="info" ng-bind="item.info"></div>
            </div>
          </div>
        </div>
        <div id="docs" class="column">
          <div class="column-header">
            DOKUMENTE
          </div>
          <div class="column-content">
            <div class="item"  ng-repeat="item in dokumente | filter:query">
              <div class="title pointer" ng-bind="item.file"></div>
              <div class="info" ng-bind="item.info"></div>
            </div>
          </div>
        </div>
        <div id="cockpit" class="column">
          <div class="column-header">
            COCKPIT
          </div>
          <div class="column-content">
            <div id="chart1" class="chart">
              <div class="title">TICKETS</div>
              <svg id="piechart"></svg>
              <div class="legend">
                <span class="circle" style="background: #d0021b;"></span><span class="text">Überfällig</span>
                <span class="circle" style="background: #ff7a00;"></span><span class="text">Offen</span>
                <span class="circle" style="background: #ffd600;"></span><span class="text">In Arbeit</span>
                <span class="circle" style="background: #aaf6d6;"></span><span class="text">Erledigt</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script src="js/angular.min.js"></script>   
    <script src="js/d3.v3.min.js"></script>
    <script src="js/moqod-test.min.js"></script>
  </body>
</html>
