<!doctype html>
<html lang="en" ng-app="moqodTest">
  <head>
    <meta charset="utf-8">
    <link rel="shortcut icon" href="http://www.kai-solutions.com/sites/all/themes/kai/favicon.ico" type="image/vnd.microsoft.icon" />
    <title>Moqod test</title>
    <link rel="stylesheet" href="css/main.min.css" />
  </head>
  <body>
    <div id="wrapper" ng-controller="moqodTestController">
      <div class="site-header">
        <img src="img/icn-kai-logo.svg" class="logo">
      </div>
      <div class="top-menu">
        <a class="active" href=".">DASHBOARD</a>
        <a href=".">TASKS</a>
        <a href=".">TICKETS</a>
        <a href=".">DOKUMENTE</a>
        <a href=".">COCKPIT</a>
      </div>
      <div class="filter">
        <input type="text" name="filter" ng-model="query">
      </div>
      <div class="content">
        <div class="column">
          <div class="column-header">
            AUFGABEN PROTOKOLLE
          </div>
          <div class="column-content">
            <div class="item"  ng-repeat="item in aufgaben | filter:query">
              <div ng-bind="item.title"></div>
              <div><span ng-bind="item.number"></span> <span ng-bind="item.info"></span></div>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="column-header">
            Bautickets
          </div>
          <div class="column-content">
            <div class="item"  ng-repeat="item in bautickets | filter:query">
              <div ng-bind="item.title"></div>
              <div ng-bind="item.info"></div>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="column-header">
            DOKUMENTE
          </div>
          <div class="column-content">
            <div class="item"  ng-repeat="item in dokumente | filter:query">
              <div ng-bind="item.file"></div>
              <div ng-bind="item.info"></div>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="column-header">
            COCKPIT
          </div>
          <div class="column-content">
            
          </div>
        </div>
      </div>
    </div>

    <script src="js/script.min.js"></script>
  </body>
</html>
